@media(max-width:415px){
    .video-wrapper video {
        height: 87vh !important;
    }
    .video-container {
        height: 85vh !important;
    }    
}
@media(max-width:360px){
    .video-wrapper video {
        height: 83vh !important;
    }
    .video-container {
        height: 83vh !important;
    }
}
@media(max-width:320px){
    .video-wrapper video{     
        height: auto !important;
    }
}